@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'DS-Digi';
    src: url(src/fonts/DS-DIGIB.TTF);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background-color: #2b2b2b;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: #f4f4f4;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 12px;
    z-index: 2;
}

.clock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 16px;
    overflow: hidden;
}

.clock-container p{
    color: #2b2b2b;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'DS-Digi';
    font-size: 98px;
}

#minutes, #seconds{
    font-family: 'DS-Digi';
    font-size: 98px;
}

button{
    position: relative;
    background-color: #2b2b2b;
    color: #f4f4f4;
    border: none;
    padding: 0 16px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
}

button:hover{
    background-color: #fdb57b;
}

.clock-btns{
    display: flex;
    justify-content: left;
    gap: 6px;
    margin-bottom: 1rem;
}

.controls.active{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.controls{
    display: none;
    align-items: center;
}

#start-btn{
    min-width: 260px;
    max-width: 360px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#stop-btn, #break-btn{
    flex: 1;
    text-align: center;
    cursor: pointer;
}

#resume-btn{
    font-size: 16px;
}
#pause-btn{
    font-size: 24px;
}

.pause-btn.active{
    display: flex;
    justify-content: center;
}

.pause-btn{
    display: none;
    align-items: center;
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: #2b2b2b;
}