@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.clock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

h1{
    color: #333;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    font-size: 98px;
    padding: 1.2rem;
}

button{
    position: relative;
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 0 16px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
}

button:hover{
    background-color: #357ae8;
}

.clock-btns{
    display: flex;
    justify-content: left;
    gap: 6px;
    margin-bottom: 1rem;
}

.controls, .start-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}

#start-btn{
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    font-size: 14px;
}

#reset-btn, #break-btn{
    flex: 1;
    text-align: center;
    padding-top: 15px;
}

/* #pause-btn{
    flex: 0 0 auto;
} */

#resume-btn{
    font-size: 16px;
}
#pause-btn{
    font-size: 24px;
}